body {
  background: #252525;
  /*background-image: url('http://www.clipartsfree.net/vector/large/1273636396_Vector_Clipart.png');*/
  background-size: cover;
  background-position: 35px 250px;
  background-repeat: no-repeat;
  font-family: 'Inconsolata'; 
  color: #fff;
}

.top {
  margin: 30px auto;
  text-align: center;
}

.apple-outer {
  background: rgb(197, 190, 156);
  border-radius: 30px;
  width: 60%;
  margin: auto;
  padding: 3% 0;
  position: relative;
  z-index: 2;
}

.apple-inner {
  background-image: linear-gradient(rgb(178, 169, 124),rgb(196, 189, 156));
  border-radius: 30px;
  width: 90%;
  margin: auto;
  padding: 5% 0;
}

.ide {
  border: solid 30px rgb(150, 144, 121);
  background: #000;
  min-height: 400px;
  width: 75%;
  border-radius: 20px;
  margin: auto;
  padding: 20px;
}

.hangman-container {
  width: 800px;
  margin: auto;
  padding: 20px;
}

.hangman-frame {
  width: 45%;
  margin: 10% auto 0;
  text-align: center;
  float: right;
}

.gui-container {
  width: 55%;
  margin: 10% auto;
  text-align: center;
  float: right;
}

h2 {
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: 400;
}

.play-area, .hangman-frame {
  font-size: 25px;
}

.play-area {
  margin: auto;
  text-align: center;
  clear: both;
  padding-top: 12%;
}

.apple-button {
  background: rgb(215, 211, 194);
  height: 60px;
  width: 60px;
  border: solid 2px rgb(173, 165, 134);
  border-radius: 5px;
  margin: 7%;
}

.apple-under {
  background: rgb(129, 124, 92);
  width: 55%;
  height: 100px;
  margin: -10px auto;
  border-radius: 10px;
  position: relative;
  z-index: 1;
}

form {
  text-align: center;
  width: 70%;
  float: right;
  margin: 8% 0;
}

input {
  font-size: 25px;
  padding: 8px;
  background: #252525;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 2px;
  color: #fff;
  outline: none;
  width: 350px;

}

